*{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
img{
    width: 200px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}
.poster-card{
    flex:1 1 200px;
    max-width: 200px;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.1s;
}
.poster-card:hover{
    transform:scale(1.1)
}
h2,p{
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
}